:root{
    --blue-color: #1292d5;
    --green-color: #34c759;
    --yellow-color: #ffc107;
    --white-color: #fff;
    --black-color: #000;
    --nav-blue: #4169e1;
    --light-blue: #1c9fe6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    width: 100%;
    
}

.wrapper{
    width: 100%;
    margin: 0 auto;
}

.hero-section{
    width: 100%;
    height: 100vh;
    
    background-color: var(--blue-color);
}

.hero-section .navbar{
    background-color: var(--nav-blue);
    width: 100%;
    height: 100px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
    left: 0;
}

.hero-section .navbar .brand-name{
    color: #fff;
    font-size: 36px;
    font-weight: 600;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero-section .navbar .brand-name img{
    width: 100px;
    object-fit: cover contain;
}


.hero-section .navbar .links ul{
    display: flex;
    flex: 1;
    justify-content: space-between;
    list-style-type: none;
}

.hero-section .navbar .links ul li{
    margin-left: 40px;
}

.hero-section .navbar .sign{
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}

.hero-section .navbar .sign a{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    margin-right: 30px;
    text-decoration: none;
    background-color: var(--yellow-color);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.hero-section .navbar .sign a:hover{
    background-color: #fff;
    color: #4169e1;
}

.hero-section .navbar .links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}

.hero-section .navbar .links ul li a:hover{
    color: var(--yellow-color);
}

#icon{
    width: 40px;
    position: absolute;
    right: 400px;
    background-color: #faebd7;
    border-radius: 50%;
    cursor: pointer;
    transition: 1.5s;
}

.dark-theme{
    --blue-color: #010511;
}
.hero-section .navbar .hamburger{
   display: none; 
   z-index: 100;
   width: 50px;
   height: 50px;
   position: absolute;
   top: 25px;
   left: 10px;
   cursor: pointer;
}

.sidebar{
    position: absolute;
    top: 100px;
    right: 0;
    background-color: white;
    display: none;
    width: 250px;
    height: 100vh;
    z-index: 50;
    overflow: hidden;
    color: var(--blue-color);
    transition: 0.8s;

}

.sidebar ul{
    padding: 40px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.sidebar ul li{
    font-size: 24px;
    color: var(--blue-color);
    margin-bottom: 25px;
}

.sidebar ul li a{
    color: var(--blue-color);
    text-decoration: none;
}

.sidebar ul li a:hover{
    color: var(--yellow-color);
}

.sidebar .btn{
    
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.sidebar .btn a{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    background-color: var(--yellow-color);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.sidebar .btn a:hover{
    background-color: var(--blue-color);
    color: #fff;
}

.hero-section .content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 90px 0px;
}

.hero-section .content .description{
    text-align: center;
    margin-left: 80px;
    max-width: 800px;
}
.hero-section .content .description h1{
    font-size: 45px;
    font-weight: 600;
    
    text-align: center;
    color: white;
}

.hero-section .content p{
    font-size: 25px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.hero-section .content a{
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: var(--yellow-color);
    border: 1px solid white;
    border-radius: 10px;
    padding: 25px;
}
.hero-section .box a{
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: var(--yellow-color);
    border: 1px solid white;
    border-radius: 10px;
    padding: 12px;
    margin-left: 20px;
}


.hero-section .content a:hover{
    background-color: #4169e1;
    color: #fff;
}

.hero-section .content .image{
    width: 400px;
    height: 600px;
    margin-left: 20px;
    margin-bottom: 40px;
}
.hero-section .content.image img{
    width: 100%;
}

/* FEATURES-SECTION */

#features{
    color: var(--black-color);
    font-family: 'Times New Roman', Times, serif;
    padding: 60px 0;
    text-align: center;
}

#features h2{
    color: var(--nav-blue);
    font-weight: 600;
    font-size: 30px;
    display: inline-block;
    position: relative;
    z-index: 1;
}

#features h2::after{
    content: "";
    width: 50px;
    height: 35px;
    position: absolute;
    top: -20px;
    left: 0;
    background: linear-gradient( var(--nav-blue), var(--white-color));
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    z-index: -1;
    padding-bottom: 10px;
}

#features h1{
    font-size: 50px;
}

.features-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 50px auto;
    flex-wrap: wrap;
    text-align: center;
}
.features{
    text-align: left;
    width: 50%;
    padding: 0 15px;
    flex-basis: 50%;
}


.features-image{
    flex-basis: 50%;
    margin: auto;
    position: relative;
}

.features-image img{
    width: 90%;
    height: 100%;
    border-radius: 10px;
    position: relative;
}


.features h3{
    color: var(--nav-blue);
    text-align: left;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 30px;
}

.features-description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.features-icon{
    width: 120px;
    height: 50px;
    padding-left: 8px;
    border-radius: 8px;
    color: var(--nav-blue);
    border: 1px solid var(--nav-blue);
    font-size: 30px;
    line-height: 50px;

}



.features-text p{
    padding: 0 24px;
    font-family: 'Times New Roman', Times, serif;
    text-align: initial;
    font-size: 24px;
}

.features-text p span a{
    color: var(--yellow-color);
    font-weight: 400;
}

/* SERVICE-SECTION */

.services{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#services{
    color: var(--black-color);
    font-family: 'Times New Roman', Times, serif;
    padding: 60px 0;
    text-align: center;
    margin: 0 auto;
}

#services h2{
    color: var(--nav-blue);
    font-weight: 600;
    font-size: 30px;
    display: inline-block;
    position: relative;
    z-index: 1;
}

#services h2::after{
    content: "";
    width: 50px;
    height: 35px;
    position: absolute;
    top: -20px;
    left: 0;
    background: linear-gradient( var(--nav-blue), var(--white-color));
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    z-index: -1;
    padding-bottom: 10px;
}

#services h1{
    font-size: 40px;
}

.services-container{
    margin: 30px 130px;
    display: grid;
    grid-template-columns: repeat(4, 350px);
    grid-template-rows: repeat(2, 350px);
    gap: 40px;
    cursor: pointer;
    
}



.services-container .service{
    width: 350px;
    height: 350px;
    border-radius: 8px;
    background: var(--white-color);
    box-shadow: 0 0 12px var(--nav-blue);
    align-items: center;
    padding-top: 20px;
    transition: all 1s linear .3s;
}

.service:hover{
    transform: scale(1.05);
}

.services-container .services-icon{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--light-blue);
    font-size: 70px;
    margin-bottom: 30px;
    text-align: center;
    margin-left: 100px;
}

.services-container .services-icon i{
    margin-top: 40px;
}
.services-container .service h3{
    font-size: 30px;
    color: var(--nav-blue);
    margin-bottom: 10px;
    font-weight: 400;
}

.services-container .service p{
    font-size: 20px;
    padding: 10px;
}

/* AGENT-SECTION */
#agent{
    color: var(--white-color);
    font-family: 'Times New Roman', Times, serif;
    padding: 60px 0;
    text-align: center;
    margin: 0 auto;
    background-color: var(--blue-color);
}

#agent h2{
    color: blue;
    font-weight: 600;
    font-size: 30px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
}

#agent h2::after{
    content: "";
    width: 50px;
    height: 35px;
    position: absolute;
    top: -20px;
    left: 0;
    background: linear-gradient( var(--nav-blue), var(--white-color));
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    z-index: -1;
    padding-bottom: 10px;
}

#agent h1{
    font-size: 40px;
}

#agent p{
    font-size: 30px;
    padding: 10px;
}

.agent-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.agent-container .content{
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(2, 300px);
    gap: 15px;
}
.agent-container .content-box{
    width: 400px;
    height: 300px;
    background: var(--white-color); 
    box-shadow: 0 0 12px var(--black-color);
    margin: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.agent-container .content-box h3{
    font-size: 25px;
    color: var(--nav-blue);
    padding-top: 50px;
    margin-bottom: 10px;
    font-weight: 600;
}

.agent-container .content-box p{
    font-size: 18px;
    padding: 15px;
    color: #000;
}

#agent button{
    background-color: var(--yellow-color);
    color: var(--white-color);
    border: none;
    margin-top: 60px;
    padding: 10px 0;
    border-radius: 8px;
    cursor: pointer;
}

#agent button a{
    color: var(--nav-blue);
    text-decoration: none;
    font-size: 40px;
    padding: 20px;
}

#agent button a:hover{
    background-color: #4169e1;
    color: #fff;
    border-radius: 8px;
}

#testimonials{
    color: var(--black-color);
    font-family: 'Times New Roman', Times, serif;
    padding: 60px 0;
    text-align: center;
    margin: 0 auto;
    background-color: var(--white-color);
}

#testimonials h2{
    color: blue;
    font-weight: 600;
    font-size: 30px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
}

#testimonials h2::after{
    content: "";
    width: 50px;
    height: 35px;
    position: absolute;
    top: -20px;
    left: 0;
    background: linear-gradient( var(--nav-blue), var(--white-color));
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    z-index: -1;
    padding-bottom: 10px;
}

#testimonials h1{
    font-size: 40px;
    color: var(--black-color);
}


.testimonal-container{
    width: 100%;
    min-height: 80vh;
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial{
    width: 90%;
    max-width: 800px;
    margin: auto;
}

.testimonial-text{
    font-size: 20px;
    color: var(--black-color);
    background-color: #d3d3d3;
    width: 100%;
    height: 350px;
    position: relative;
    box-shadow: 0 15px 20px rgba(0,0, 0, 0.2);
    margin-bottom: 30px;
}

.user-text{
    width: 80%;
    text-align: center;
    line-height: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.user-text.active-text {
    display: block;
}
.user-text .fas{
    font-size: 30px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.user-text span{
    display: block;
    font-size: 23px;
    margin-top: 70px;
    font-weight: 500;
    text-transform: uppercase;
}

.testimonial-pic{
    width: 70px;
    height: 70px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(360px);
}


.user-pic{
    padding: 5px;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    
}

.user-pic.active-pic{
    width: 100px;
    border: 3px solid var(--blue-color);
}

.testimonal-container .testimonial .testimonial-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover ;
}

/* Responsive */
@media screen and (max-width: 420px) {
    .wrapper{
        width: 100%;
    }
    .navbar{
        width: 100%;
        justify-content: center;
    }
    
    .hero-section .navbar .brand-name{
        margin-left: 8%;
        font-size: 30px;
    }
    .hero-section .navbar .brand-name img{
        width: 60px;
        object-fit: cover contain;
    }
    

    .hero-section .navbar .links{
        display: none;
    }
    .hero-section .navbar .hamburger{
        display: block; 
     }
     .hero-section .navbar .sign{
        display: none;
     }

     #icon{
        display: block;
        width: 30px;
        right: 10px;
     }
     .sidebar{
        left: 0;
        display: block;
     }
     .hero-section .content{
        display: flex;
        flex-direction: column;
        gap: 40px;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-left: 0px;
        margin-top: 40px;
    }

    .hero-section .content .description{
        text-align: center;
        margin-left: 0px;
        margin-top: 80px;
    }
    .hero-section .content .description h1{
        font-size: 30px;
        margin-bottom: 10px;
        margin-left: 0px;
        
    }

    .hero-section .content .description p{
        font-size: 20px;
        padding: 5px;
        margin-bottom: 10px;
        color: lightgray;
    }

    .hero-section .content  a{
        font-size: 20px;
        margin-bottom: 10px;
        padding: 10px;
    }
    .hero-section .content .box a{
        font-size: 20px;
        margin-bottom: 10px;
        padding: 10px;
    }

    .hero-section .content .image{
        width: 90%;
        margin-bottom: 10px;
    }

    .hero-section .content .image img{
        width: 100%;
    }
    
    #features h1{
        font-size: 35px;
    }

    #features h2{
        font-size: 25px;
    }

    .features{
        flex-basis: 100%;
    }
  
    .features-image{
        display: none;
    }

    .features-image img{
        width: 100%;
    }

    .features-icon{
        width: 50px;
        height: 60px;
        padding: 5px;
        border-radius: 8px;
        color: var(--blue);
        border: 1px solid var(--blue);
        font-size: 30px;
        line-height: 50px;
        display: none;
    
    }
    
    .features-text p{
        padding: 0 10px;
        font-family: 'Times New Roman', Times, serif;
        text-align: left;
    }

    #services{
        background: #d3d3d3;
    }
    #services h1{
        font-size: 35px;
    }

    #services h2{
        font-size: 25px;
    }
    .services-container{
        display: flex;
        flex-direction: column;
        margin: 25px 50px;
    }

    .services-container .services-icon i{
        margin-top: 40px;
    }
    .services-container .service{
        width: 300px;
        height: 300px;
        border-radius: 8px;
        background: var(--white-color);
        box-shadow: 0 0 12px var(--nav-blue);
        align-items: center;
        padding-top: 15px;
        transition: all 1s linear .3s;
    }

    .services-container .services-icon{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: var(--light-blue);
        font-size: 70px;
        margin-bottom: 0px;
        text-align: center;
        margin-left: 90px;
    }

    .services-container .service h3{
       
        margin-bottom: 3px;
        
    }
    .services-container .service p{
        font-size: 20px;
        padding: 2px 10px;
    }
    

    #agent h1{
        font-size: 35px;
    }

    #agent h2{
        font-size: 25px;
    }

    .agent-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .agent-container .content-box h3{
        font-size: 26px;
        padding-top: 35px;
    }

    .agent-container .content{
        display: flex;
        flex-direction: column;
    }
    .agent-container .content-box{
        width: 300px;
        height: 200px;
        margin: 20px;
        border-radius: 15px;
    }
    
    #agent p{
        font-size: 20px;
        padding: 10px;
    }
    .agent-container .content-image{
        width: 400px;
    }

    .agent-container .content-image img{
        width: 100%;
    }

    #agent button{
        font-size: 25px;
        padding: 10px 0;
    }

    #agent button a{
        font-size: 30px;
        padding: 20px;
    }

    #agent button a:hover{
        background-color: #4169e1;
        color: #fff;
        border-radius: 8px;
    }

    #testimonials{
        background-color: #fff;
    }
    #testimonials h2{
        color: blue;
        font-weight: 600;
        font-size: 30px;
        display: inline-block;
        position: relative;
        z-index: 1;
        text-transform: uppercase;
    }
    
    #testimonials h2::after{
        content: "";
        width: 50px;
        height: 35px;
        position: absolute;
        top: -20px;
        left: 0;
        background: linear-gradient( var(--nav-blue), var(--white-color));
        border-top-left-radius: 35px;
        border-bottom-right-radius: 35px;
        z-index: -1;
        padding-bottom: 10px;
    }
    
    #testimonials h1{
        font-size: 30px;
        color: var(--black-color);
    }
    .user-text span{
        display: block;
        font-size: 23px;
        margin-top: 15px;
        font-weight: 500;
        text-transform: uppercase;
        color: #1292d5;
    }
    .testimonial-pic{
        width: 70px;
        height: 70px;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(150px);
    }
    
    
    .user-pic{
        padding: 5px;
        border-radius: 50%;
        margin: 10px;
        cursor: pointer;
        width: 50px;
        height: 50px;
        
    }
    
    .user-pic.active-pic{
        width: 100px;
        border: 3px solid var(--blue-color);
    }
    
    .testimonal-container .testimonial .testimonial-pic img{
        width: 100%;
        height: 100%;
        object-fit: cover ;
    }
}